[submodule "inventory-impl-root"]
	path = inventory-impl-root
	url = git@github.com:artifexlabs/inventory-impl-root.git
[submodule "inventory-server"]
	path = inventory-server
	url = git@github.com:mykelalvis/inventory-server.git
[submodule "inventory-web-api"]
	path = inventory-web-api
	url = git@github.com:mykelalvis/inventory-web-api.git
[submodule "inventory-web-app"]
	path = inventory-web-app
	url = git@github.com:mykelalvis/inventory-web-app.git
[submodule "inventory-mobile-apps"]
	path = inventory-mobile-apps
	url = git@github.com:mykelalvis/inventory-mobile-apps.git
[submodule "inventory-exporter"]
	path = inventory-exporter
	url = git@github.com:mykelalvis/inventory-exporter.git
[submodule "inventory-parent"]
	path = inventory-parent
	url = git@github.com:artifexlabs/inventory-parent.git
[submodule "inventory-api"]
	path = inventory-api
	url = git@github.com:artifexlabs/inventory-api.git
