[submodule "inventory-api"]
	path = inventory-api
	url = git@github.com:mykelalvis/inventory-api.git
[submodule "inventory-impl"]
	path = inventory-impl
	url = git@github.com:mykelalvis/inventory-impl.git
[submodule "inventory-parent"]
	path = inventory-parent
	url = git@github.com:mykelalvis/inventory-parent.git
[submodule "inventory-server"]
	path = inventory-server
	url = git@github.com:mykelalvis/inventory-server.git
[submodule "inventory-web-api"]
	path = inventory-web-api
	url = git@github.com:mykelalvis/inventory-web-api.git
[submodule "inventory-web-app"]
	path = inventory-web-app
	url = git@github.com:mykelalvis/inventory-web-app.git
